#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {  
    keymap {
        compatible = "zmk,keymap";
        physical-layout = <&dsmacro_physical_layout>;

        base_layer {
            display-name = "Base";
            bindings = < 
                &kp A   &kp B   &kp C   &kp D   &kp E
                &kp F   &kp G   &kp H   &kp I   &kp J
                &kp K   &kp L   &kp M   &kp N   &kp O
                                &mo 1   &kp Q   &kp R
            >;
        };

        bt_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR  &none
                &out OUT_USB &out OUT_BLE &none        &none          &none
                &none        &none        &none        &none          &none
                                          &none        &studio_unlock &bootloader
            >;
        };
    };
};