#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {  
    combos {
        compatible = "zmk,combos";
        combo_bt_layer {
            timeout-ms = <100>;
            key-positions = <15 16>;
            bindings = <&mo 1>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        physical-layout = <&dsmacro_physical_layout>;

        base_layer {
            display-name = "Base";
            bindings = < 
                &kp F13     &kp F14     &kp F15     &kp LC(LS(V))   &kp LC(LS(C))
                &kp F16     &kp F17     &kp F18     &kp LC(V)       &kp LG(LA(V))
                &kp ENTER   &kp F19     &kp F20     &kp LC(Y)       &kp LC(Z)
                                        &LSHIFT     &kp DEL         &kp ESC
            >;
        };

        bt_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR  &none
                &out OUT_USB &out OUT_BLE &none        &none          &none
                &none        &none        &none        &none          &bootloader
                                          &none        &none          &studio_unlock
            >;
        };
        
        spare_layer {
            bindings = <
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                                &none   &none   &none
            >;
        };
    };
};